<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :question_text %>
  </div>

  <div class="field">
    <%= form.label :option1 %>
    <%= form.text_field :option1 , id: :question_option1 %>      
  </div>

  <div class="field">
    <%= form.label :option2 %>
    <%= form.text_field :option2 , id: :question_option2 %>      
  </div>

  <div class="field">
    <%= form.label :option3 %>
    <%= form.text_field :option3 , id: :question_option3 %>      
  </div>

  <div class="field">
    <%= form.label :option4 %>
    <%= form.text_field :option4 , id: :question_option4 %>      
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer , id: :question_answer %>      
  </div>

  <div class="field">
    <%= form.label :what %>
    <%= form.text_field :what, id: :question_what %>
  </div>

  <div class="field">
    <%= form.label :subgenreId %>
    <%= form.number_field :subgenreId, id: :question_subgenreId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
