<div class='link_box' ><%= link_to 'User Data', users_path, class:'links' %></div>
<div class='link_box' ><%= link_to 'Leaderboard Data', leaderboard_path, class:'links' %></div>
<div class='link_box' ><%= link_to 'Question Data', questions_path, class:'links' %></div>
<div class='link_box' ><%= link_to 'Genre Data', genres_path, class:'links' %></div>
<div class='link_box' ><%= link_to 'Subgenre Data', subgenres_path, class:'links' %></div>
