<p id="notice"><%= notice %></p>
<div class='main'>

<p>
  <strong>Name:</strong>
  <%= @subgenre.name %>
  <%= @subgenre.genreId %>

</p>

<%= link_to 'Edit', edit_subgenre_path(@subgenre) %> |
<%= link_to 'Back', subgenres_path %>
</div>