<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
  <nav role="navigation" id="access">
    <a class="skip-link icon-reorder" title="Accéder au menu" href="#menu">Menu</a>
    <ul id="menu">
      <li class="active"><a class="icon-home" href="#accueil">Home</a></li>
              <li><a class="icon-group" href="#quisommesnous">About Us</a></li>
              <% if logged_in? %>
              <li>
              <%= link_to "Play Quiz", play_quiz_path, class:'icon-envelope-alt' %></li>
              <li>
              <%= link_to "History", '#', class:'icon-envelope-alt' %></li>
              <li>
               <%= link_to "Logout", logout_path, method: :delete, class: 'icon-envelope-alt' %></li>
               <% else %>
               <li>
               <%= link_to "Login", login_path, class:'icon-envelope-alt' %></li>
               <li>
               <%= link_to "SignUp", signup_path, class:'icon-envelope-alt' %></li>
             <% end %>
          </ul>
      </nav>
</div>
    <%= yield %>
  </body>
</html>
