<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
  <nav role="navigation" id="access">
    <a class="skip-link icon-reorder" title="Accéder au menu" href="#menu">Menu</a>
    <ul id="menu">
    <% if (session[:admin] == 1) %>
    <li class="active">
    <%= link_to "Home", admin_home_path, class:'icon-home' %></li>
    <% else %>
      <li class="active">
        <%= link_to "Home",home_path, class:'icon-home' %></li>
        <% end %>
              <li><%= link_to "Contact Us", contact_path, class:'icon-group' %></li>
              <% if logged_in? %>
              <li>
              <%= link_to "Play Quiz", play_quiz_path, class:'icon-envelope-alt' %></li>
              <li>
              <%= link_to "History", history_path, class:'icon-envelope-alt' %></li>
              <li>
               <%= link_to "Logout", logout_path, method: :delete, class: 'icon-envelope-alt' %></li>
               <% else %>
               <li>
               <%= link_to "Login", login_path, class:'icon-envelope-alt' %></li>
               <li>
               <%= link_to "SignUp", signup_path, class:'icon-envelope-alt' %></li>
             <% end %>
          </ul>
      </nav>
</div>
    <%= yield %>
  </body>
</html>
